.App {
  text-align: center;
  margin-top: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.tableros{
  display: flex;
  flex-direction: row;
}

.text-jugadores{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px); /* Ajusta el tamaño de las columnas según sea necesario */
  gap: 5px; /* Ajusta el espacio entre los cuadrados según sea necesario */
  margin: 0 auto;
  max-width: 400px; /* Ajusta el ancho máximo del tablero según sea necesario */
}

.square {
  width: 35px;
  height: 35px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  background-color: #64a577;
}

.square:hover {
  background-color: rgb(93, 108, 111); /* Cambia el color al pasar el ratón sobre el cuadrado */
}

/* Puedes agregar más estilos según sea necesario */
